---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ToggleTheme from "./ToggleTheme.astro";
---

<header>
  <nav class="navbar bg-base-100 p-10">
    <div class="flex-1">
      <a href="/" class="flex items-center">
        <span
          class="xl:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-primary to-secondary hidden md:block md:text-4xl"
          >{SITE_TITLE}</span
        >
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><HeaderLink href="/">Inicio</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <ToggleTheme />
      </ul>
    </div>
  </nav>
</header>
<style>
  a.active {
    transition: 0.5s;
  }
  a:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px rgb(3, 10, 69);
    transition: 2s;
  }
  @keyframes myFlash {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
</style>
